en/skills.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Skills</title>
    <link rel="stylesheet" type="text/css" href="/css/skills.css?v=0.2">
  </head>
  <body>
    <a href="/en/index.html" class="home">Home</a>
    <a href="/de/skills.html" class="lang">DE</a>
    <input type="checkbox" id="theme" checked>
    <label for="theme" class="dark">Dark</label>
    <label for="theme" class="light">Light</label>
    <div class="resume">
      <div class="header">
        <h1>Skills Elia Fry</h1>
      </div>
      <div class="bar-labels">
        <div class="bar1">
          <h3>Basic knowledge</h3>
          <div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
        <div class="bar2">
          <h3>Theoretical knowledge</h3>
          <div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
        <div class="bar3">
          <h3>Applied knowledge</h3>
          <div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
        <div class="bar4">
          <h3>Practical knowledge</h3>
          <div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
        <div class="bar5">
          <h3>Frequent usage</h3>
          <div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
      <div class="skills">
        <div class="skillgroup">
          <h2>Programming Languages</h2>
          <div class="line"></div>
          <div class="bar4">
            <h3>PHP</h3>
            <div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <div class="bar4">
            <h3>SQL</h3>
            <div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <div class="bar4">
            <h3>Java</h3>
            <div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <div class="bar2">
            <h3>Python</h3>
            <div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <div class="bar2">
            <h3>C / C++</h3>
            <div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <div class="bar2">
            <h3>Lua</h3>
            <div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <div class="bar4">
            <h3>Javascript</h3>
            <div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <div class="bar4">
            <h3>Bash</h3>
            <div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <div class="bar2">
            <h3>Assembler (AVR)</h3>
            <div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <div class="bar3">
            <h3>Flutter/Dart</h3>
            <div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
        <div class="skillgroup">
          <h2>Tools</h2>
          <div class="line"></div>
          <div class="bar5">
            <h3>VS Code</h3>
            <div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <div class="bar4">
            <h3>Jetbrains Tools</h3>
            <div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <div class="bar5">
            <h3>Git</h3>
            <div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <div class="bar2">
            <h3>Mercurial</h3>
            <div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <div class="bar5">
            <h3>Docker</h3>
            <div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <div class="bar5">
            <h3>Docker Compose</h3>
            <div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <div class="bar3">
            <h3>Unity</h3>
            <div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <div class="bar3">
            <h3>Godot</h3>
            <div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <div class="bar4">
            <h3>KVM on Linux</h3>
            <div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <div class="bar4">
            <h3>VMWare / Vbox</h3>
            <div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <div class="bar5">
            <h3>Gimp</h3>
            <div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <div class="bar4">
            <h3>Blender</h3>
            <div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
        <div class="skillgroup">
          <h2>Operating systems</h2>
          <div class="line"></div>
          <div class="bar5">
            <h3>Linux</h3>
            <div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <div class="bar4">
            <h3>Windows</h3>
            <div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <div class="bar5">
            <h3>Android</h3>
            <div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
        <div class="skillgroup">
          <h2>Methods</h2>
          <div class="line"></div>
          <div class="bar4">
            <h3>UML</h3>
            <div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <div class="bar2">
            <h3>Scrum</h3>
            <div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <div class="bar4">
            <h3>OOP</h3>
            <div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <div class="bar3">
            <h3>Unit-testing</h3>
            <div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
        <div class="skillgroup">
          <h2>Markup Languages</h2>
          <div class="line"></div>
          <div class="bar5">
            <h3>HTML</h3>
            <div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <div class="bar5">
            <h3>CSS / SCSS</h3>
            <div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <div class="bar4">
            <h3>Markdown</h3>
            <div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
        <div class="skillgroup">
          <h2>Frameworks</h2>
          <div class="line"></div>
          <div class="bar3">
            <h3>Bootstrap</h3>
            <div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <div class="bar4">
            <h3>Tailwind CSS</h3>
            <div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <div class="bar4">
            <h3>jQuery</h3>
            <div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <div class="bar2">
            <h3>Angular</h3>
            <div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
        <div class="skillgroup">
          <h2>Hardware</h2>
          <div class="line"></div>
          <div class="bar5">
            <h3>Desktop</h3>
            <div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <div class="bar4">
            <h3>Server</h3>
            <div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <div class="bar3">
            <h3>Microprocessors</h3>
            <div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

skills.pug
doctype html

- let bar = [1, 2, 3, 4, 5];

html
	head
		meta(charset="utf-8")
		title Skills
		link(rel="stylesheet" type="text/css" href="../css/skills.css?v=0.1")

	body
		input(type="checkbox", id="theme", checked)
		div.resume
			div.header
				h1 Skills Elia Fry
			div.bar-labels
				div.bar1
					h3 Basic knowledge
					each val in bar
						div
				div.bar2
					h3 Theoretical knowledge
					each val in bar
						div
				div.bar3
					h3 Applied knowledge
					each val in bar
						div
				div.bar4
					h3 Practical knowledge
					each val in bar
						div
				div.bar5
					h3 Very good practical knowledge
					each val in bar
						div

			div.skills
				div.skillgroup
					h2 Programming Languages
					div.line
					div.bar4
						h3 PHP
						each val in bar
							div
					div.bar4
						h3 SQL
						each val in bar
							div
					div.bar4
						h3 Java
						each val in bar
							div
					div.bar2
						h3 Python
						each val in bar
							div
					div.bar2
						h3 C / C++
						each val in bar
							div
					div.bar2
						h3 Lua
						each val in bar
							div
					div.bar4
						h3 Javascript
						each val in bar
							div
					div.bar4
						h3 Bash
						each val in bar
							div
					div.bar2
						h3 Assembler (AVR)
						each val in bar
							div
				div.skillgroup
					h2 Tools
					div.line
					div.bar5
						h3 VS Code
						each val in bar
							div
					div.bar4
						h3 Jetbrains Tools
						each val in bar
							div
					div.bar4
						h3 Git
						each val in bar
							div
					div.bar2
						h3 Mercurial
						each val in bar
							div
					div.bar4
						h3 Docker
						each val in bar
							div
					div.bar4
						h3 Docker Compose
						each val in bar
							div
					div.bar3
						h3 Unity
						each val in bar
							div
					div.bar3
						h3 Godot
						each val in bar
							div
					div.bar4
						h3 VMWare / Vbox
						each val in bar
							div
					div.bar4
						h3 VMWare / Vbox
						each val in bar
							div
					div.bar5
						h3 Gimp
						each val in bar
							div
					div.bar4
						h3 Blender
						each val in bar
							div
				div.skillgroup
					h2 Operating systems
					div.line
					div.bar5
						h3 Linux
						each val in bar
							div
					div.bar4
						h3 Windows
						each val in bar
							div
					div.bar5
						h3 Android
						each val in bar
							div
					div.bar3
						h3 iOS / macOS
						each val in bar
							div
				div.skillgroup
					h2 Methods
					div.line
					div.bar4
						h3 UML
						each val in bar
							div
					div.bar2
						h3 Scrum
						each val in bar
							div
					div.bar4
						h3 OOP
						each val in bar
							div
					div.bar3
						h3 Unit-testing
						each val in bar
							div
				div.skillgroup
					h2 Markup Languages
					div.line
					div.bar5
						h3 HTML
						each val in bar
							div
					div.bar5
						h3 CSS / SCSS
						each val in bar
							div
				div.skillgroup
					h2 Frameworks
					div.line
					div.bar3
						h3 Bootstrap
						each val in bar
							div
					div.bar4
						h3 jQuery
						each val in bar
							div
					div.bar2
						h3 Angular
						each val in bar
							div
				div.skillgroup
					h2 Hardware
					div.line
					div.bar5
						h3 Desktop
						each val in bar
							div
					div.bar3
						h3 Microprocessors
						each val in bar
							div
